.bgcontain {
	height: 400px;
    width: 80%;
    float:left;
    margin-left:10%;
    margin-top:25px;
    background-color: white;
    border-radius: 15px;
    background-image: url(../img/bgcontain.jpg);
    background-size: 100%;
    background-position: center;
    z-index: 1;
    position: relative;
    opacity: 0.7;
}
.disp {
	height:130px;
	width: 950px;
	background-color: white;
	box-shadow: 10px 10px 100px black;
	color:black;
	font-family: 'Archivo Narrow',sans-serif;
	margin-top:25%;
	margin-left:15%;
	z-index: 2;
	position: absolute;
	text-align: center;
	font-size: 14px;
	border-radius: 15px;
}
.main-content {
	height: 1450px;
    width: 100%;
    float:left;
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 22px;
}
.main-content ul{
	list-style: none;
}
.main-content ul li {
	height: 620px;
	width: 47%;
	float:left;
	margin-left:20px;
	margin-top:20px;
	box-shadow: 10px 10px 100px grey;
}
.main-content ul li .imgleft{
	height: 50px;
	width: 50px;
	float: left;
}
.main-content ul li .imgleft img {
	height: 100%;
	width: 100%;
}
.main-content ul li .text {
	height: 50px;
	width: 85%;
	margin-left:30px;
	float:left;
	line-height: 45px;
}
.number-list .list {
	height: 120px;
	width: 120px;
	display: block;
	float:left;
	box-shadow:none;
	text-align: center;
}
.number-list .list h1 {
	color:dodgerblue;
	font-size: 42px;
	text-align: center;
}